a{
	text-decoration: none;
	color: #2F3435;
}

.profile-image{
	border-radius: 100% !important ;
	height: 40vw;
}

.telefone{
	height: 16vw;
}

.whatsapp{
	height: 15vw;
}

.email{
	height: 16vw;
}

.download{
	height: 14vw;
	margin-top: 1vw;
	border-radius: 19%;
	background-color: #2c6de5af;
}

.button{
	height: 15vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2e34403d;
	border-radius: 50px;
}

body{
    background-image: linear-gradient(
        to bottom,
        #2E3440 0%,
        #2E3440 12%,
        #00d87e 12%,
        #00d8d8 100%
    );
    height: 100%;
	color: #2F3435;
	font-family: 'Fira Code', monospace;
}
/* #00d8d8 */
ul{
	list-style-type: none;
}

.subtitle{
	font-size: 130%;
	margin: auto;
	border-right: 5px solid ;
	width: 22ch;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s steps(22), blinking 0.6s infinite step-end alternate;
}

.actionButtons{
	margin-right: 2vh ;
}

@keyframes typing{
	from{
		width: 0;
	}
}

@keyframes blinking{
	50%{
		border-color: transparent;
	}
}